
@model OpticalShop.Models.Bill.BillViewModel
@{
    Layout = "~/Views/Shared/Root.cshtml";
}
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 20%">
            <h1>Bill Overview</h1>
        </div>
        <div class="row" style="height: 100%">
            <div class="cell auto-size padding20 bg-white" id="cell-content">
                <hr class="thin bg-grayLighter">
                <a href="@Url.Action("AddBill", "Bill")" target="_blank">
                      <span class="mif-plus"></span> Add Bill..
                </a>
                <div class="grid">
                    <div class="row cells3">
                        <div>From Date</div>
                        <div class="input-control text" data-role="datepicker">
                            @Html.TextBoxFor(model => model.SearchStartDate)
                            <button class="button"><span class="mif-calendar"></span></button>
                        </div>
                    </div>
                    <div class="row cells3">
                        <div>To Date</div>
                        <div class="input-control text" data-role="datepicker">
                            @Html.TextBoxFor(model => model.SearchFinishDate)
                            <button class="button"><span class="mif-calendar"></span></button>
                        </div>
                    </div>
                </div>

                <table class="dataTable" data-role="datatable" data-searching="true">
                    <thead>
                        <tr>
                            <th class="sortable-column sort-asc">Family Name</th>
                            <th class="sortable-column sort-asc"> Order Date</th>
                            <th class="sortable-column sort-asc">Billing Date</th>
                            <th class="sortable-column">Bill Name</th>
                            <th class="sortable-column">Total Price</th>
                            <th class="sortable-column">Comment</th>
                            <th class="sortable-column">IsCuttingStockAll</th>
                            <th class="column">View/Edit</th>
                            <th class="column">Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var mo in Model.BillModels)
                        {
                            if (Model.BillModels.Count > 0)
                            {
                            <tr>
                                <td>@Html.DisplayFor(m => mo.FamilyName)</td>
                                <td>@Html.DisplayFor(m => mo.OrderDate)</td>
                                <td>@Html.DisplayFor(m => mo.BillingDate)</td>
                                <td>@Html.DisplayFor(m => mo.BillName)</td>
                                <td>@Html.DisplayFor(m => mo.TotalPrice)</td>
                                <td>@Html.DisplayFor(m => mo.Comment)</td>
                                <td>
                                    @if (mo.IsCuttingStockAll)
                                    {
                                        <span class="mif-calendar fg-red"></span>
                                    }
                                    else
                                    {
                                        <span class="mif-truck2 fg-green"></span>
                                    }
                                </td>
                                <td><span class="btnEditBill mif-pencil on-left" style="cursor:pointer;" data-Id="@mo.Id"></span> @Html.HiddenFor(model => mo.Id)</td>
                                <td><span class="btnRemoveBill mif-bin on-left" style="cursor:pointer;" data-Id="@mo.Id"></span> @Html.HiddenFor(model => mo.Id)</td>

                            </tr>
                            }
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $("table").dataTable({
        'searching': true
    });

    $(".btnAddBill").click(function () {
        var modal = new DayPilot.Modal();
        modal.top = 120;
        modal.showUrl("AddBill");
        modal.closed = function () { // callback executed after the dialog is closed
            if (this.result == "OK") {  // if the
                location.reload();
            }
            if (this.result == "Not Ok") {  // if the
            }
            if (this.result == "Not Ok1") {  // if the
                alert("Please insert correct data");
            }
        };

    });

    $(".btnEditBill").click(function () {
        var Id = $(this).attr("data-Id");

        var modal = new DayPilot.Modal();
        modal.top = 120;
        modal.showUrl("AddLense?Id=" + Id);
        modal.closed = function () { // callback executed after the dialog is closed
            if (this.result == "OK") {  // if the
                location.reload();
            }
            if (this.result == "Not Ok") {  // if the
            }
            if (this.result == "Not Ok1") {  // if the
                alert("Please insert correct data");
            }
        };

    });

    $(".btnRemoveBill").click(function () {
        var Id = $(this).attr("data-Id");
        $.Dialog({
            overlay: true,
            shadow: true,
            flat: true,
            width: 300,
            padding: 10,
            title: '',
            content: '',
            onShow: function (_dialog) {
                var html = [
                    '<div>' +
                        '<div></div>' +
                        '<div class="form-actions text-right" style="margin-top:60px" >' + 'Do you want to delete this bill' +
                            '<br/><button class="button primary" style="margin-right:20px" id="btnRemoveConfirm" onclick="$.Dialog.close()">' +
                              'Confirm' +
                            '</button>' +
                                '<button class="button" id="btnRemoveCancel"  onclick="$.Dialog.close()">' +
                                'Cancel' +
                            '</button>' +
                        '</div>' +
                    '</div>'
                ].join("");
                $.Dialog.content(html);
                $("#btnRemoveConfirm").click(function () {
                    $.post("@Url.Action("DeleteLense", "Product")",
                          {
                              Id: Id
                          },
                                function (data) {
                                    if (data.IsSuccess) {
                                        $("#FamilyMemberListDetail").load("@(Url.Action("Lense", "Product", null, Request.Url.Scheme))?");
                                    }
                                    else {
                                        PopupAlert("", data.Message);
                                    }
                                }
                          );//post
                });//btnRemoveConfirm
            }//function(_dialog)
        })
    });
</script>