@model OpticalShop.Models.Products.ProductOverviewModel
@{
    Layout = "~/Views/Shared/Root.cshtml";
}

<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell auto-size padding20 bg-white" id="cell-content">
                <hr class="thin bg-grayLighter">
                <h2>@Html.DisplayFor(m => m.ProductType)</h2>
                <button class="button primary btnAddContactLens" data-ProductType=@Model.ProductType><span class="mif-plus"></span> Add Contact Lens..</button>
                <div class="grid">
                    @for (var i = 0; i < Model.Products.Count; i = i + 3)
                    {
                        if (Model.Products.Count - (i + 3) >= 0)
                        {
                            <div class="row cells3">
                                <div class="cell">
                                    <div>@Html.DisplayFor(model => Model.Products[i].Brand) : @Html.DisplayFor(model => Model.Products[i].ProductName)</div>
                                    <div><img src="@Url.Action("ImageDisplay", "Product", new { @id = Model.Products[i].Id })" /></div>
                                    <div>@Html.LabelFor(model => Model.Products[i].Price) :  @Html.DisplayFor(model => Model.Products[i].Price)</div>
                                    <div>@Html.LabelFor(model => Model.Products[i].InStock) :  @Html.DisplayFor(model => Model.Products[i].InStock)</div>
                                    <div>
                                        <span class="btnEditProduct mif-pencil on-left" style="cursor:pointer;" data-Id="@Model.Products[i].Id" data-ProductType="@Model.Products[i].ProductType"></span>
                                        <span class="btnRemoveProduct mif-bin on-left" style="cursor:pointer;" data-Id="@Model.Products[i].Id"></span>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div>@Html.DisplayFor(model => Model.Products[i + 1].Brand) : @Html.DisplayFor(model => Model.Products[i + 1].ProductName)</div>
                                    <div><img src="@Url.Action("ImageDisplay", "Product", new { @id = Model.Products[i + 1].Id })" /></div>
                                    <div>@Html.LabelFor(model => Model.Products[i + 1].Price) :  @Html.DisplayFor(model => Model.Products[i + 1].Price)</div>
                                    <div>@Html.LabelFor(model => Model.Products[i+1].InStock) :  @Html.DisplayFor(model => Model.Products[i+1].InStock)</div>
                                    <div>
                                        <span class="btnEditProduct mif-pencil on-left" style="cursor:pointer;" data-Id="@Model.Products[i+1].Id" data-ProductType="@Model.Products[i+1].ProductType"></span>
                                        <span class="btnRemoveProduct mif-bin on-left" style="cursor:pointer;" data-Id="@Model.Products[i+1].Id"></span>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div>@Html.DisplayFor(model => Model.Products[i + 2].Brand) : @Html.DisplayFor(model => Model.Products[i + 2].ProductName)</div>
                                    <div><img src="@Url.Action("ImageDisplay", "Product", new { @id = Model.Products[i +2].Id })" /></div>
                                    <div>@Html.LabelFor(model => Model.Products[i + 2].Price) :  @Html.DisplayFor(model => Model.Products[i + 2].Price)</div>
                                    <div>@Html.LabelFor(model => Model.Products[i+2].InStock) :  @Html.DisplayFor(model => Model.Products[i +2].InStock)</div>
                                    <div>
                                        <span class="btnEditProduct mif-pencil on-left" style="cursor:pointer;" data-Id="@Model.Products[i+2].Id" data-ProductType="@Model.Products[i+2].ProductType"></span>
                                        <span class="btnRemoveProduct mif-bin on-left" style="cursor:pointer;" data-Id="@Model.Products[i+2].Id"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Products.Count - (i + 2) >= 0)
                        {
                            <div class="row cells3">
                                <div class="cell">
                                    <div>@Html.DisplayFor(model => Model.Products[i].Brand) : @Html.DisplayFor(model => Model.Products[i].ProductName)</div>
                                    <div><img src="@Url.Action("ImageDisplay", "Product", new { @id = Model.Products[i].Id })" /></div>
                                    <div>@Html.LabelFor(model => Model.Products[i].Price) :  @Html.DisplayFor(model => Model.Products[i].Price)</div>
                                    <div>@Html.LabelFor(model => Model.Products[i].InStock) :  @Html.DisplayFor(model => Model.Products[i].InStock)</div>
                                    <div>
                                        <span class="btnEditProduct mif-pencil on-left" style="cursor:pointer;" data-Id="@Model.Products[i].Id" data-ProductType="@Model.Products[i].ProductType"></span>
                                        <span class="btnRemoveProduct mif-bin on-left" style="cursor:pointer;" data-Id="@Model.Products[i].Id"></span>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div>@Html.DisplayFor(model => Model.Products[i + 1].Brand) : @Html.DisplayFor(model => Model.Products[i + 1].ProductName)</div>
                                    <div><img src="@Url.Action("ImageDisplay", "Product", new { @id = Model.Products[i + 1].Id })" /></div>
                                    <div>@Html.LabelFor(model => Model.Products[i + 1].Price) :  @Html.DisplayFor(model => Model.Products[i + 1].Price)</div>
                                    <div>@Html.LabelFor(model => Model.Products[i+1].InStock) :  @Html.DisplayFor(model => Model.Products[i+1].InStock)</div>
                                    <div>
                                        <span class="btnEditProduct mif-pencil on-left" style="cursor:pointer;" data-Id="@Model.Products[i+1].Id" data-ProductType="@Model.Products[i +1].ProductType"></span>
                                        <span class="btnRemoveProduct mif-bin on-left" style="cursor:pointer;" data-Id="@Model.Products[i+1].Id"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Products.Count - (i + 1) >= 0)
                        {
                            <div class="row cells3">
                                <div class="cell">
                                    <div>@Html.DisplayFor(model => Model.Products[i].Brand) : @Html.DisplayFor(model => Model.Products[i].ProductName)</div>
                                    <div><img src="@Url.Action("ImageDisplay", "Product", new { @id = Model.Products[i].Id })" /></div>
                                    <div>@Html.LabelFor(model => Model.Products[i].Price) :  @Html.DisplayFor(model => Model.Products[i].Price)</div>
                                    <div>@Html.LabelFor(model => Model.Products[i].InStock) :  @Html.DisplayFor(model => Model.Products[i].InStock)</div>
                                    <div>
                                        <span class="btnEditProduct mif-pencil on-left" style="cursor:pointer;" data-Id="@Model.Products[i].Id" data-ProductType="@Model.Products[i].ProductType"></span>
                                        <span class="btnRemoveProduct mif-bin on-left" style="cursor:pointer;" data-Id="@Model.Products[i].Id"></span>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </div>


            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(".btnAddContactLens").click(function () {
        var ProductType = $(this).attr("data-ProductType");
        var modal = new DayPilot.Modal();
        modal.top = 120;
        modal.showUrl("AddContactLense?productType=" + ProductType);
        modal.closed = function () { // callback executed after the dialog is closed
            if (this.result == "OK") {  // if the
                location.reload();
            }
            if (this.result == "Not Ok") {  // if the
            }
            if (this.result == "Not Ok1") {  // if the
                alert("Please insert correct data");
            }
        };

    });

    $(".btnEditProduct").click(function () {
        var ProductType = $(this).attr("data-ProductType");
        var Id = $(this).attr("data-Id");
        var modal = new DayPilot.Modal();
        modal.top = 120;
        modal.showUrl("AddContactLense?productType=" + ProductType+ "&Id="+ Id);
        modal.closed = function () { // callback executed after the dialog is closed
            if (this.result == "OK") {  // if the
                location.reload();
            }
            if (this.result == "Not Ok") {  // if the
            }
            if (this.result == "Not Ok1") {  // if the
                alert("Please insert correct data");
            }
        };

    });

    $(".btnRemoveProduct").click(function () {
        var Id = $(this).attr("data-Id");
        $.Dialog({
            overlay: true,
            shadow: true,
            flat: true,
            width: 300,
            padding: 10,
            title: '',
            content: '',
            onShow: function (_dialog) {
                var html = [
                    '<div>' +
                        '<div></div>' +
                        '<div class="form-actions text-right" style="margin-top:60px" >' + 'Do you want to delete this product' +
                            '<br/><button class="button primary" style="margin-right:20px" id="btnRemoveConfirm" onclick="$.Dialog.close()">' +
                              'Confirm' +
                            '</button>' +
                                '<button class="button" id="btnRemoveCancel"  onclick="$.Dialog.close()">' +
                                'Cancel' +
                            '</button>' +
                        '</div>' +
                    '</div>'
                ].join("");
                $.Dialog.content(html);
                $("#btnRemoveConfirm").click(function () {
                    $.post("@Url.Action("DeleteProduct", "Product")",
                          {
                              Id: Id
                          },
                                function (data) {
                                    if (data.IsSuccess) {
                                        location.reload();
                                    }
                                    else {
                                        PopupAlert("", data.Message);
                                    }
                                }
                          );//post
                });//btnRemoveConfirm
            }//function(_dialog)
        })
    });
</script>